{% extends 'core/base.html' %}
{% block title %}{{ title }}{% endblock  %}

{% block content %}

<h1 class="mb-6 text-3xl dark:text-white text-center">{{ title }}</h1>

<form action="" method="POST" enctype="multipart/form-data">

    {% csrf_token %}
    <div class="flex flex-col items-center justify-center dark:text-black">
        <div class="space-y-4 flex flex-col justify-center dark:text-white  md:w-1/2 dark:bg-gray-800 p-6 rounded-xl shadow-xl">
            {{ form.as_p }} 
            {% if form.errors or form.non_field_errors %}
            <div class="mb-3 p-6 bg-red-100 dark:bg-red-500 rounded-xl">
                {% for field in form %}
                    {{ field.errors }}
                {% endfor %}
            {{ form.non_field_errors }}
            </div>
            {% endif %}
            <button class="mt-6 w-full py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-3xl text-white">Submit</button>

        </div>
        </div>

</form>
{% endblock content %}